# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi

*.log
.*.swp

*.html
modules/COMCS/CODE/.idea/*
modules/COMCS/CODE/CODE-SERVEUR-PACT.iml
modules/Android/Wall-Ed/*
modules/Android/WallEd/.idea/*
modules/Android/WallEd/local.properties
modules/Android/WallEd/settings.gradle
modules/Android/WallEd/Wall-Ed.iml
modules/Android/WallEd/app/build/*
modules/Android/WallEd/app/app.iml
modules/Android/WallEd/app/proguard-rules.pro
modules/Android/WallEd/app/src/androidTest/*
modules/Android/WallEd/app/src/test/*
modules/Android/WallEd/.gradle/*
modules/Android/WallEd/build.gradle
modules/Android/WallEd/gradle/wrapper/gradle-wrapper.properties
modules/COMCS/interfaceweb/interfaceweb/__pycache__/*
modules/COMCS/interfaceweb/stats/__pycache__/*
modules/COMCS/interfaceweb/stats/migrations/__pycache__/*
